# MC316 Final Exam – Part B: PYTHON

* You will have 1 hour and 40 minutes to finish the test.
* This part includes 10 questions. Each question is worth 15 points.
* You get extra 30 points for full answers.
* Please read the instructions carefully.

## I. SET UP

### Import pandas library for use in scripting.

In [66]:
import pandas as pd

### Import the datasets and name them.
For this test, you will analyze revenue and expenditure data released by Kansas Department of Administration for the fiscal year 2018. While the original data can be directly downloaded [here](http://kanview.ks.gov/DataDownload.aspx), for your convenience, the instructor had them uploaded to a server at the following urls. 

#### For Kansas State University:
1. Expenditure data: https://datajournalism.tech/wp-content/uploads/2019/05/ExpData_367_2018.csv
2. Revenue data: https://datajournalism.tech/wp-content/uploads/2019/05/RevData_367_2018.csv

#### For University of Kansas:
3. Expenditure data: https://datajournalism.tech/wp-content/uploads/2019/05/ExpData_682_2018.csv
4. Revenue data: https://datajournalism.tech/wp-content/uploads/2019/05/RevData_682_2018.csv

You will need to import all 4 datasets and name them in an easy way to call out later.

*Please refer to the [Glossary](http://kanview.ks.gov/Glossary.aspx#f) for data description.

In [67]:
KSUexp = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/ExpData_367_2018.csv")

In [68]:
KSUexp.head()

,Fiscal_Year,Fiscal_Quarter,Business_Unit,Business_Unit_Descr,GAAP_Fund_Type,GAAP_Fund_Type_Descr,Fund_Code,Fund_Code_Descr,Budget_Ref,Budget_Ref_Descr,...,State_Function,State_Function_Descr,Primary_Account_Code,Primary_Account_Code_Descr,Intermediate_Account_Code,Intermediate_Account_Code_Descr,Detail_Account_Code,Detail_Account_Code_Descr,Total,Unnamed: 21
0,2018,1,367,Kansas State University,12,Component Unit,3047,SMITH-LEVER SPEC PRG GRNT FDF,1330,SMITH-LEVER SPEC PRG GRNT FDF ...,...,26,Universities ...,5200,CONTRACTUAL SERVICES,52520,OUT OF STATE TRAVEL & SUBSIST,525280,MEALS AND LODGING OUT STATE,2470.890,nan
1,2018,1,367,Kansas State University,12,Component Unit,3047,SMITH-LEVER SPEC PRG GRNT FDF,1330,SMITH-LEVER SPEC PRG GRNT FDF ...,...,26,Universities ...,5200,CONTRACTUAL SERVICES,52520,OUT OF STATE TRAVEL & SUBSIST,525270,AIR RAIL & BUS FARE OUT STATE,422.400,nan
2,2018,1,367,Kansas State University,12,Component Unit,3047,SMITH-LEVER SPEC PRG GRNT FDF,1330,SMITH-LEVER SPEC PRG GRNT FDF ...,...,26,Universities ...,5200,CONTRACTUAL SERVICES,52510,IN STATE TRAVEL & SUBSISTENCE,525190,NON SUBSISTENCE IN STATE,17.250,nan
3,2018,1,367,Kansas State University,12,Component Unit,3047,SMITH-LEVER SPEC PRG GRNT FDF,1330,SMITH-LEVER SPEC PRG GRNT FDF ...,...,26,Universities ...,5200,CONTRACTUAL SERVICES,52510,IN STATE TRAVEL & SUBSISTENCE,525180,MEALS AND LODGING IN STATE,698.130,nan
4,2018,1,367,Kansas State University,12,Component Unit,3047,SMITH-LEVER SPEC PRG GRNT FDF,1330,SMITH-LEVER SPEC PRG GRNT FDF ...,...,26,Universities ...,5200,CONTRACTUAL SERVICES,52510,IN STATE TRAVEL & SUBSISTENCE,525130,STATE CAR EXPENSE-IN STATE,407.500,nan

In [69]:
KSUexp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24094 entries, 0 to 24093
Data columns (total 22 columns):
Fiscal_Year                        24094 non-null int64
Fiscal_Quarter                     24094 non-null int64
Business_Unit                      24094 non-null int64
Business_Unit_Descr                24094 non-null object
GAAP_Fund_Type                     24094 non-null int64
GAAP_Fund_Type_Descr               24094 non-null object
Fund_Code                          24094 non-null int64
Fund_Code_Descr                    24094 non-null object
Budget_Ref                         24094 non-null int64
Budget_Ref_Descr                   24094 non-null object
Program_Code                       24094 non-null int64
Program_Code_Descr                 24094 non-null object
State_Function                     24094 non-null int64
State_Function_Descr               24094 non-null object
Primary_Account_Code               24094 non-null int64
Primary_Account_Code_Descr         24094 non-null object
Intermediate_Account_Code          24094 non-null int64
Intermediate_Account_Code_Descr    24094 non-null object
Detail_Account_Code                24094 non-null int64
Detail_Account_Code_Descr          24094 non-null object
Total                              24094 non-null float64
Unnamed: 21                        0 non-null float64
dtypes: float64(2), int64(11), object(9)
memory usage: 4.0+ MB

In [70]:
KSUrev = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/RevData_367_2018.csv")

In [71]:
KUexp = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/ExpData_682_2018.csv")

In [72]:
KUrev = pd.read_csv("https://datajournalism.tech/wp-content/uploads/2019/05/RevData_682_2018.csv")

## II. REQUIRED QUESTIONS
* Make sure you type the answers in the cells right below the codes.
* If you need to add extra cells, click the + button in the toolbar up the top.

### Q1: What is the total revenue recorded for Kansas State University in the fiscal year of 2018? How does it compare to the total revenue recorded for University of Kansas in the same year?

In [73]:
KSUrev.Total.sum()

854324643.84

In [74]:
KUrev.Total.sum()

808767902.55

<b>Answer:</b> 45,556,741.29 Is the difference in revenue.

### Q2: What is the total expense recorded for Kansas State University in the fiscal year of 2018? How does it compare to the total expense recorded for University of Kansas in the same year?

In [75]:
KSUexp.Total.sum()

1018584373.02

In [76]:
KUexp.Total.sum()

990238875.6099999

<b>Answer:</b> 283,455,497.41 Is the difference in expense.

### Q3: Where did the two universities' primary revenues come from? 
*Refer to the description [here](http://kanview.ks.gov/Revenues/AcctCodeRevenues.aspx) to write your answer.

In [77]:
KSUrev.Primary_Account_Code_Descr.value_counts()

AGENCY EARNINGS                   637
REV FROM USE OF MONEY & PROP      354
REVENUE TRANSFERS                 341
NON REVENUE RECEIPTS              259
OTHER REVENUE                     160
GIFT DONATION FEDERAL GRANTS      152
TAXES                               7
Name: Primary_Account_Code_Descr, dtype: int64

In [78]:
KUrev.Primary_Account_Code_Descr.value_counts()

AGENCY EARNINGS                   376
REV FROM USE OF MONEY & PROP      251
NON REVENUE RECEIPTS              157
REVENUE TRANSFERS                 153
OTHER REVENUE                      57
TAXES                              45
GIFT DONATION FEDERAL GRANTS       38
Name: Primary_Account_Code_Descr, dtype: int64

<b>Answer:</b> Primary source of revenue for both universities is the Agency Earnings.

### Q4: What was the biggest source of revenues for Kansas State University? Compare to the one of University of Kansas.

Remove hashtag and run the following code to suppress scientific notation:

In [79]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [80]:
KSUrev.groupby("Primary_Account_Code_Descr").Total.sum().reset_index()

       Primary_Account_Code_Descr         Total
0  AGENCY EARNINGS                412565112.820
1  GIFT DONATION FEDERAL GRANTS   278778848.030
2  NON REVENUE RECEIPTS            71947564.050
3  OTHER REVENUE                    8432030.160
4  REV FROM USE OF MONEY & PROP    34139318.040
5  REVENUE TRANSFERS               48458616.490
6  TAXES                               3154.250

In [81]:
KUrev.groupby("Primary_Account_Code_Descr").Total.sum().reset_index()

       Primary_Account_Code_Descr         Total
0  AGENCY EARNINGS                408409337.320
1  GIFT DONATION FEDERAL GRANTS   193836668.320
2  NON REVENUE RECEIPTS            69753247.670
3  OTHER REVENUE                   68241930.500
4  REV FROM USE OF MONEY & PROP    40950779.540
5  REVENUE TRANSFERS               26013855.400
6  TAXES                            1562083.800

<b>Answer:</b> see the table.

### Q5: What accounts contributed to Kansas State University's biggest source of revenues?
If you run into a situation where a filter function returns 0 results, you may want to check if there are leading and trailing spaces in the column. To clean the leading and trailing spaces, you will need to remove the hashtag, revise the names, and run the following code:

In [82]:
KSUrev["Primary_Account_Code_Descr"] = KSUrev["Primary_Account_Code_Descr"].str.strip()

After cleaning the spaces, you can start filtering your datasets to find the answer for Q5.

In [91]:
KSUrev.groupby("Primary_Account_Code_Descr").Total.sum()

Primary_Account_Code_Descr
AGENCY EARNINGS                412565112.820
GIFT DONATION FEDERAL GRANTS   278778848.030
NON REVENUE RECEIPTS            71947564.050
OTHER REVENUE                    8432030.160
REV FROM USE OF MONEY & PROP    34139318.040
REVENUE TRANSFERS               48458616.490
TAXES                               3154.250
Name: Total, dtype: float64

<b>Answer:</b>

### Q6: Where did the money go? (Answer for both universities)
*Refer to the description [here] (http://kanview.ks.gov/Expenditures/AcctCodeExpenditures.aspx) to write your answer.

In [84]:
KSUexp.Primary_Account_Code_Descr.value_counts()

CONTRACTUAL SERVICES              10561
SALARIES AND WAGES                 7780
COMMODITIES                        3740
CAPITAL OUTLAY                     1173
GRANTS CLAIMS SHARED REVENUE        534
NONEXPENSE ITEMS                    129
EXPENSE TRANSFERS                   106
DEBT SERVICE                         71
Name: Primary_Account_Code_Descr, dtype: int64

In [85]:
KUexp.Primary_Account_Code_Descr.value_counts()

CONTRACTUAL SERVICES              4322
SALARIES AND WAGES                3623
COMMODITIES                       1605
CAPITAL OUTLAY                     737
NONEXPENSE ITEMS                    81
GRANTS CLAIMS SHARED REVENUE        75
EXPENSE TRANSFERS                   66
DEBT SERVICE                        44
Name: Primary_Account_Code_Descr, dtype: int64

<b>Answer:</b> see table above.

### Q7: What costs two universities the most?

In [86]:
KSUexp.groupby("Primary_Account_Code_Descr").Total.sum().reset_index()

       Primary_Account_Code_Descr         Total
0  CAPITAL OUTLAY                  64350550.130
1  COMMODITIES                     42670908.840
2  CONTRACTUAL SERVICES           128541598.280
3  DEBT SERVICE                    32442445.100
4  EXPENSE TRANSFERS               37130576.230
5  GRANTS CLAIMS SHARED REVENUE   106551248.640
6  NONEXPENSE ITEMS               130529992.790
7  SALARIES AND WAGES             476367053.010

In [87]:
KUexp.groupby("Primary_Account_Code_Descr").Total.sum().reset_index()

       Primary_Account_Code_Descr         Total
0  CAPITAL OUTLAY                  70676545.250
1  COMMODITIES                     24225857.120
2  CONTRACTUAL SERVICES           139630507.780
3  DEBT SERVICE                    25309742.030
4  EXPENSE TRANSFERS               25815417.520
5  GRANTS CLAIMS SHARED REVENUE    71439705.360
6  NONEXPENSE ITEMS               161145084.400
7  SALARIES AND WAGES             471996016.150

<b>Answer:</b> see the tables.

### Q8: Calculate the percentage of this cost over each university's total expense.

<b>Answer:</b>

### Q9: Breakdown the cost you found in Q7 for both universities.
Again, if you run into a situation where a filter function returns 0 results, you may want to check if there are leading and trailing spaces in the column. To clean the leading and trailing spaces, you will need to remove the hashtag, revise the names, and run the following code:

In [88]:
KSUexp["Primary_Account_Code_Descr"] = KSUexp["Primary_Account_Code_Descr"].str.strip()

In [89]:
KSUexp_breakdown = KSUexp[KSUexp.Primary_Account_Code_Descr == 'SALARIES AND WAGES']

<b>Answer:</b>

### Q10: Compare the breakdown costs from Q9 side by side.
When you merge the two subsets, make sure to add the attribute <b>how ="outer"</b> so that you can keep every item from both sets.
*For example: merge = pd.merge(df1, df2, how="outer", on="columnname")

In [ ]:
merged

<b>Answer:</b>

## III. BONUS QUESTIONS
* Each question's worth 15 points.

### B1: Which university made a profit in the fiscal year of 2018?

In [29]:
KSUrev.Total.sum()

854324643.84

In [30]:
KSUexp.Total.sum()

1018584373.02

In [31]:
854324643.84 - 1018584373.02

-164259729.17999995

In [32]:
KUrev.Total.sum()

808767902.55

In [33]:
KUexp.Total.sum()

990238875.6099999

In [34]:
808767902.55 - 990238875.6099999

-181470973.05999994

<b>Answer:</b> Neither of the universities made a profit in the 2018 fiscal year.

### B2: Which software program do you like the most in this course? Why?

<b>Answer:</b>  I loved Tablaeu because after a while you get the hang of it and understand but its also the easiest. I think Python is useful and I like it once I understand how to use it well enough.

### END OF THE TEST